stock-management-backend/venv/
stock-management-backend/__pycache__/
stock-management-backend/*.pyc
stock-management-backend/.pytest_cache/
stock-management-frontend/node_modules/
stock-management-frontend/dist/
.env
.DS_Store
*.log
*.tar.gz
.user_env
.secrets/
.cache/
.npm/
.nvm/
.pki/
.bash_logout
.bashrc
.browser_data_dir/
.config/
.gitconfig
.local/
.logs/
.profile
.wget-hsts
.zshrc
sandbox.txt
upload/


